<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href= ""/>
    </head>
    <body>
        <header>
            <h1>SIFTcast</h1>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/blog/">Blog</a>
            <a href="/about">About</a>
        </nav>
        <!--Main page content starts-->
        <main>
            <article>
                {{ content }}
            </article>
        </main>
    </body>
</html>